.content {
    width: 100%;
    height: 100vh;
    background-color: ¨#F2F2F2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .login-box {
      width: 60%;
      height: 100vh;
      background-color: #ffffff;
      z-index: 2;
      display: flex;
      flex-direction: row;
  
      .box-left {
        width: 200%;
        height: 100%;
        background-color:#F2F2F2;;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

      .box-right {
        height: 100%;
        background-color: #fff;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .text-logo{
          color: #fff;
          font-weight: 900;
        }
  
        .brand-image {
          max-width: 100vh;
          height: auto;
        }
      }
    }
  }
  
  #background {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      width: 30%;
      height: 100%;
      border-left: 0px solid transparent;
      border-right: 141px solid transparent;
      border-bottom: 5000px solid #fff;
      left: -38px;
    }
  }
  
  @media (max-width: 575.9px) {
    .content .login-box {
      width: 90% !important;
      height: 90%;
      flex-direction: column !important;
  
      .box-left {
        width: 100%;
        height: 40vh;
  
        img {
          width: 150px;
        }
      }
      .box-right{
        width: 100%;
        height: 60vh;
      }
    }
  
    #background {
      bottom: 0px !important;
      left: 0px !important;
      right: 0px !important;
      width: 100% !important;
      height: 50% !important;
    }
  }
  
  @media (min-width: 375px) and (max-width: 991.98px) {
   .content .login-box .box-right  {
      display: none;
    } 

   .content .login-box .box-left  {
      height: 100vh;
    } 

    .content .login-box {
      width: 100% !important;
      height: 200vh !important;
      
    }

    #background {
      top: 0px;
      right: 0px;
      width: 50%;
      height: 100%;
    }
  }
  
  @media (min-width: 992px) {
    #background {
      top: 0px;
      right: 0px;
      width: 50%;
      height: 100%;
    }
  }