<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <a class="navbar-brand" href="#">
    <img src="../../../../../../assets/LogoInterna.png" alt="...">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="text-decoration-none" [routerLink]="['/usuarios']">Usuarios<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active ml-3">
        <a class="text-decoration-none" [routerLink]="['/pagamentos']">Pagamentos<span class="sr-only"></span></a>
      </li>
    </ul>
    <img src="../../../../../../assets/Ellipse 2.png" class="rounded-circle mr-2" alt="...">
    <span class="navbar-text">
      <div class="btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button"  (click)="logout()">Sair</button>
        </div>
      </div>
    </span>
  </div>
</nav>